# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# every file
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# config files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# https://buf.build/docs/editor-integration/#editorconfig-suggestions
[*.proto]
indent_size = 2
indent_style = space
